.element__like-button {
  width: 22px;
  height: 19px;
  background-color: transparent;
  border: none;
  background-image: url(../../../images/Like_button.svg);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 0;
}

.element__like-button:hover {
  opacity: .5;
  transition: opacity .3s;
}

/* .element__like-button:active {
  background-image: url(../../../images/Like_button_active.svg);
} */
