.profile__occupation {
  max-width: 336px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 900px) {
  .profile__occupation {
    text-align: center;
  }
}

@media screen and (max-width: 424px) {
  .profile__occupation {
    max-width: 189px;
    font-size: 14px;
    line-height: 17px;
  }
}
