.form__input_type_authorize {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border-bottom: 2px solid #CCC;
  background-color: transparent;
  color: #CCC;
}
